<div>
    <br/>
    <div class="container col-md-12 row" style="background: rgba(76, 175, 80, 0.3)">
        <div class="col-md-6">
            <label>Payer</label>
            <ul>
                <li>name: Lola</li>
                <li>surename: Landa</li>
                <li>email: test_user_63274575@testuser.com</li>
                <li>identification
                    <ul>
                        <li>type: DNI</li>
                        <li>number: 22.333.444</li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <label></label>
            <ul>
                <li>phone
                    <ul>
                        <li>area_code: 011</li>
                        <li>number: 2222-3333</li>
                    </ul>
                </li>
                <li>address
                    <ul>
                        <li>street_name: Falsa</li>
                        <li>street_number: 123</li>
                        <li>zip_code: 1111</li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <br/>
    <div class="col-md-12 row">
        <div class="col-md-6">
            <h5>Lista de ordenes<h5>
        </div>
        <div class="col-md-6" >
            <%= link_to 'Nueva Orden', new_order_path , :class => "btn", :style => "background-color: #2D3277; color:white"%>
        </div>
    </div>
    <br/>
    <div style="height: 500px; overflow: auto">
        <table class="table">
            <thead>
                <tr>
                <th>Número de orden</th>
                <th>Preference Id (MP)</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th></th>
                </tr>
            </thead>

            <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.preference_id %></td>
                    <td><%= order.description %></td>
                    <td><%= order.created_at.strftime("%d/%m/%Y %I:%M%p") %></td>
                    <td>
                        <%= link_to 'Detalle', order  , :class => "btn btn-info"%>
                        <%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Seguero de eliminar la orden?' }  , :class => "btn btn-danger"%>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <br>
</div>
