<p id="notice"><%= notice %></p>

<div class="container">
    <h3>TIENDA E-COMMERCE</h3>
    <h4>Sitio donde se lleva acabo las compras de productos celulares.</h4>
    <h5>Disculpen que no lleve mucho estilo, pero al final lo que se quiere es la implementación del Checkout</h5>

    <br/>
    <div class="container col-md-12 row">
        <div class="col-md-6">
            <h4>Test User (Vendedor)</h4>
            <h5>Id: 469485398</h5>
            <h5>Email: test_user_97555375@testuser.com</h5>
        </div>
        <div class="col-md-6">
            <h4>Test User (Comprador)</h4>
            <h5>Id: 471923173</h5>
            <h5>Email: test_user_63274575@testuser.com</h5>
        </div>
    </div>
    <br/>
    <h5>Lista de compras<h5>
    <%= link_to 'Nueva Orden', new_order_path , :class => "btn btn-success"%>
    <br/>
    <br/>
    <div style="height: 500px; overflow: auto">
        <table class="table">
            <thead>
                <tr>
                <th>Número de orden</th>
                <th>Preference Id (MP)</th>
                <th>Descripción</th>
                <th>Fecha</th>
                <th></th>
                </tr>
            </thead>

            <tbody>
            <% @orders.each do |order| %>
                <tr>
                    <td><%= order.id %></td>
                    <td><%= order.preference_id %></td>
                    <td><%= order.description %></td>
                    <td><%= order.created_at %></td>
                    <td>
                        <%= link_to 'Detalle', order  , :class => "btn btn-info"%>
                        <%= link_to 'Eliminar', order, method: :delete, data: { confirm: 'Seguero de eliminar la orden?' }  , :class => "btn btn-danger"%>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <br>
</div>
