<br/>
<div class="container col-md-12 row">
    <div class="col-md-7">
        <h5 style="font-size:14px">Número de orden: <%= @order.id %></h5>
        <h5 style="font-size:14px">Descripción: <%= @order.description %></h5>
        <h5 style="font-size:14px">PreferenceId MercadoPago: <%= @order.preference_id %></h5>

    </div>
    <div class="col-md-2">
        <%= link_to 'Ordenes', orders_path , :class => "btn btn-secondary col-md-12"%>
    </div>
    <div class="col-md-3">
        <form action="/order_success?order_id=<%= @order.id %>&preference_id=<%= @order.preference_id %>" method="POST" class="col-md-12">
          <script
           src="https://www.mercadopago.com.ar/integrations/v1/web-payment-checkout.js"
           data-preference-id="<%= @order.preference_id %>"
           data-button-label="Pagar la compra">
          </script></form>
    </div>
</div>
<br/>
<div class="container col-md-10">
    <h5>Lista de celulares<h5>
    <div style="height: 300px; overflow: auto">

        <table class="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                    <th>Pago</th>
                </tr>
            </thead>

            <tbody>
                <% if @items %>
                    <% @items.each do |item| %>
                        <tr>
                            <td>
                                <div class="text-center">
                                    <img src="<%=item.image_url%>" style="width: 60px; height: 60px" class="rounded" alt="<%= item.name%>">
                                </div>
                            </td>
                            <td><%= item.name %></td>
                            <td><%= item.quantity %></td>
                            <td><%= item.price %></td>
                        </tr>
                    <% end %>
                <% end %>

            </tbody>
        </table>
    </div>
</div>
