<!DOCTYPE html>
<html>
  <head>
    <title>ECommerce</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
  </head>

  <body>
      <nav class="navbar navbar-light" style="background-color: #2D3277; height: 50px">
          <div class="col-md-12 row">
              <div class="col-md-6">
                  <h5 style="color: #FFFFFF;">TIENDA E-COMMERCE</h5>
              </div>
              <div class="col-md-6">
                  <label style="font-size: 12px; color: #FFFFFF">Creas la orden y MercadoPago realiza lo demas.</label>
              </div>
          </div>


      </nav>
      <div class="container">
          <%= yield %>
      </div>

  </body>
</html>
